@import url(typography.css);

html {
  height: 100%; /* bruk all plass i høyde - ikke hvitt i bunn når det er lite innhold */
  box-sizing: border-box; /* ikke vesentlig nå */
  background-color: darkgray; /* innebygget fargenavn for en del farger - alt som ikke har satt egen farge "arver" nå denne fargen her. Settes oftest på body, men går her og.. */
}

/* Denne velger alt på siden.. * brukes ofte til å bety alt (wildcard) */
* {
  box-sizing: inherit; /* ikke vesentlig nå */
}

body {
  /* bruk all plass i høyden (slått av siden vi setter min-height under grid..) */
  /*height: 100%;*/
  /* En pleier ofte å sette disse to til 0 til å begynne med.. Det nullstiller instillinger som ellers bestemmes av nettleseren selv.. Reset.. Kan og settes på html taggen. */
  padding: 0; /* avstand fra innhold til kant */
  margin: 0; /* avstand utenfor */

  /* GRID */
  /* settes typisk ikke direkte på <body>, men på en "wrapper"..  <div class="wrapper">Alt Innhold</div> */
  /* Her vil alt innenfor <body> være med i en Grid Layout - som er så enkel som mulig - deler siden i 3 deler: Top, Midt, Bunn */
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto; /* 1fr er 1 "fraksjon" - som her tar 100% av body minus header og footer */
}

main {
  background-color: white;
  /* lager rom rundt main */
  padding: 2rem; /* luft rundt innhold */
  margin: 0 4rem; /* 0 oppe og nede, 2rem på hver side - Dette lar bakgrunnsfargen (i <html>) vises på hver av sidene. Margen gjør main boksen smalere.. */
}

/* Felles stil for både header og footer.. bruker komma for å velge begge sammen */
header, footer {
  background-color: #eee; /* hexadecimal forkortet fargekode..  lettere å bruke rgb(50, 50, 50) - men fint å vite om hex */
  padding: 4rem; /* rem er størrelse i forhold til skjerm - ofte brukt istedenfor px (pixler) som ikke varierer. Denne lager plass både over/under og venstre/høyre */
  /* top | right | bottom | left */
  padding: 1rem 4rem 2rem 4rem; /* forkortelse for padding-top, padding-left, ...  (dette overkjører linjen over, så den gjør ingenting nå) */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/padding */
}

/*
Header
- Gamle måten
*/
header > img {
  height: 3rem;
  width: 3rem;
  border: 1px solid green;
}

header nav {
  justify-self: right;
}

header li {
  display: inline-block;
  list-style-type: none;
}

header nav a {
  text-decoration: none;
}

/* 
Header
- Her bruker vi Nesting.. 
Nylig støttet i alle nettlesere! Glede! 
Men nettleserne må være oppdatert (fra høst 2023) - så funker ikke på TV macen, og vet ikke med din mac? 
*/
header {

  /* Logo */
  /* Her velges alle bilder i header.. gjør mer spesifikt om du har flere bilder her */
  img {
    height: 3rem;
    width: 3rem; /* bruker gjerne kun høyde, så blir denne automatisk når du faktisk har et bilde.. gjerne bruke max-width: 100% */
    border: 1px solid green; /* Har du ikke bilde, så sett img inni en div, og sett høyde der for "preview". Eller placeholder img api.. */
  }

  /* Meny */
  nav {
    
    /* Elementer inni <nav> taggen */
    li {
      list-style-type: none; /* Drep prikkene på "list items" innenfor "unordered list" (<ul><li>...) */
    }
    
    /* Linker */
    a {
      text-decoration: none; /* Drep strek under URL */
    }

    /* & var ment å ha foran alle "nøstede" regler - men kommer til å virke uten fremover.. */
    & a {
      text-decoration: none;
    }
    
  }
}
