html {
  height: 100%; /* bruk all plass i høyde - ikke hvitt i bunn når det er lite innhold */
  box-sizing: border-box; /* ikke vesentlig nå */
  background-color: dark-gray; /* innebygget fargenavn for en del farger - alt som ikke har satt egen farge "arver" nå denne fargen her */
}

/* Denne velger alt på siden.. * brukes ofte til å bety alt (wildcard) */
* {
  box-sizing: inherit; /* ikke vesentlig nå */
}

body {
  /*height: 100%;*/ /* bruk all plass i høyden (slått av siden vi setter min-height under grid..) */
  padding: 0; /* avstand fra innhold til kant */
  margin: 0; /* avstand utenfor */

  /* GRID - settes typisk ikke på <body>, men på en "wrapper"..  <div class="wrapper">Alt Innhold</div> */
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto; /* 1fr er 1 "fraksjon" - som her tar 100% av body minus header og footer */
}

main {
  background-color: white;
  /* lager rom rundt main */
  padding: 2rem; /* luft rundt innhold */
  margin: 0 4rem; /* 0 oppe og nede, 2rem på hver side */
}

/* Felles stil for både header og footer.. bruker komma for å velge begge sammen */
header, footer {
  background-color: #eee; /* hexadecimal fargekode..  lettere å bruke rgb(50, 50, 50) - men fint å vite om hex */
  padding: 4rem; /* rem er størrelse i forhold til skjerm - ofte brukt istedenfor px (pixler) som ikke varierer. Denne lager plass både over/under og venstre/høyre */
  padding: 1rem 4rem 4rem 2rem; /* forkortelse for padding-top, padding-left, ... */
}
